html, body 
{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0; 
}

#main-menu-bar ::-webkit-scrollbar { 
  display: none; 
}

#sidebar 
{
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 100%;
  min-width: 325px;
  max-width: 450px;
  background-color: #2F343D; 
  float: left;
}

.scroll
{
  display:block;
  padding:5px;
  margin-top:5px;
  width:300px;
  height:100%;
  overflow:scroll;
}

.menu-icon
{
  color: #fff;
}

.menu-icon-desc
{
  font-size: 12px;
  font-family: 'Acme', sans-serif;
}


#sidebar * 
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
  
#sidebar a, #sidebar a:hover, #sidebar a:focus 
{
  text-decoration: none; 
}

#sidebar ul, #sidebar li 
{
  outline: 0;
  margin: 0;
  padding: 0;
  list-style: none; 
}

#sidebar .v-center 
{
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  text-align: center !important; 
}

#sidebar .flex-col 
{
  display: flex;
  flex-direction: column; 
}

#sidebar .button 
{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

#sidebar .button:hover
{
  color: #fff;
  background-color: #b63b4d;
  border-color: #0062cc; 
}

#sidebar #headbar 
{
  display: flex;
  justify-content: space-between;
  background-color: #323232;
  color: white;
  min-height: 50px;
  width: 100%;
  text-align: center;
  z-index: 10;
  font-size: 20px;
  border-bottom: 5px solid #ccc;
}

#title
{
  text-align: center;
  width: 100%;
}


#sidebar #headbar #control 
{
  display: flex; 
}
      
#sidebar #headbar span 
{
  font-size: 27px;
  line-height: 75px;
  color: white;
  width: 75px;
  height: 100%;
  text-align: center;
  vertical-align: bottom;
  margin: 0 auto; 
}

#sidebar #headbar #hide span 
{
  font-size: 25px;
}

        
#sidebar #headbar-hide 
{
  display: none;
  flex-direction: column;
  font-size: 30px;
  line-height: 75px;
  background-color: black;
  color: white;
  width: 75px;
  height: 150px;
  text-align: center;
  vertical-align: bottom;
  z-index: 10; 
}

#sidebar #headbar-hide #full-hide, #sidebar #headbar-hide #half-hide 
{
  width: 100%;
  height: 50%; 
}

#sidebar #headbar-hide #full-hide i, #sidebar #headbar-hide #half-hide i 
{
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; 
}

#sidebar #headbar-hide #full-hide.hidden i.fa-chevron-left, #sidebar #headbar-hide #half-hide.hidden i.fa-chevron-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); 
}

#sidebar #menu 
{
  display: flex;
  align-content: flex-end;
  height: 100%;
}

#sidebar #main-menu-bar 
{
    width: 25%;
    height: 100%;
    max-width: 75px;
    color: white;
    background-color: #2F343D;
    overflow-y: auto;
    z-index: 10; 
}

#sidebar #main-menu-bar .main-menu 
{
  font-size: 14px;
  width: 100%;
  height: 75px;
  max-height: 75px;
  border: 1px solid #646464; 
}

#sidebar #main-menu-bar .main-menu a 
{
  color: #fff; 
}

#sidebar #main-menu-bar .main-menu a.active 
{
  color: #fff;
  border-width: 1px 0 1px 1px; 
}

#sidebar #main-menu-bar li:last-child 
{
  border-bottom-width: 1px; 
}

#sidebar #main-menu-bar .active 
{
  background-color: #a4a4a4;
  border-right-width: 1px;
  border-right-color: none;
  border-top: 3px solid #767676;
  border-bottom: 3px solid #767676;
  color: #000; 
}

#sidebar #right-menu 
{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden; 
}

#sidebar #search 
{
  position: relative;
  width: 100%;
  height: 5%;
  min-height: 50px;
  font-size: 18px;
  font-weight: 800;
  z-index: 10;
}

#sidebar #search .searchTerm 
{
  height: 100%;
  width: 100%;
  background: #fcfcfc;
  padding-left: 5px;
  border: 1px solid #8d8d8d;
  border-bottom: 5px solid #8d8d8d;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset; 
}

#sidebar #search .searchIcon 
{
  position: absolute;
  right: 5%;
  top: 12px; 
}

#sidebar #sub-menu-container 
{
  position: absolute;
  top: 50px;
  width: calc(100% + 17px);
  height: calc(100% - 50px);
  background-color: #fff;
  transition: 0.5s;
  z-index: 5; 
  overflow-y: scroll;
  right: -17px;
}

#sidebar #not-found
{
  position: absolute;
  background-image: url('../robo.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: calc(100% + 17px);
  height: calc(100% - 50px);
  margin-top: 80px;
}

#sidebar #sub-menu-container.animate 
{
  transition: 0.5s linear;
  transform: translateY(0px) !important; 
}

#sidebar #sub-menu-bar 
{
  display: block;
  width: 100%;
  background: #a4a4a4;
  
}

#sidebar #sub-menu-bar .default .submenu 
{
  display: block; 
}

#sidebar #sub-menu-bar .link 
{
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 4px solid #494949;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; 
  padding-top: 20px;
}

#sidebar #sub-menu-bar li i 
{
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; 
}

#sidebar #sub-menu-bar li i.fa-chevron-down 
{
  right: 12px;
  left: auto;
  font-size: 16px; 
}

#sidebar #sub-menu-bar li.open .link 
{
  font-size: 20px;
  color: #1c1c1c; 
}

#sidebar #sub-menu-bar li.open i 
{
  color: #b63b4d; }
  #sidebar #sub-menu-bar li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
}
      
#sidebar #sub-menu-bar li .submenu 
{
  display: none;
  background: #ccc;
  font-size: 1rem;
  color: #000; 
  font-family: 'Montserrat Alternates', sans-serif;
}

#sidebar #sub-menu-bar li .submenu li 
{
  border-bottom: 1px solid #fff; 
}

#sidebar #sub-menu-bar li .submenu a 
{
  display: block;
  text-decoration: none;
  color: #000;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; 
}

#sidebar #sub-menu-bar li .submenu a:hover 
{
  background: #b63b4d;
  color: #FFF; 
}


#sidebar #hide.hidden i.fa-chevron-left
{
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); 
} 


#sidebar .submenu {
    display: block;
    background: #ccc;
    font-size: 1rem;
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
}

#sidebar .submenu li {
    border-bottom: 1px solid #fff;
}

#sidebar .submenu a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#sidebar .submenu a:hover 
{
  background: #b63b4d;
  color: #FFF; 
}