html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

$sidebar-width: 325px;

#sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 100%;
  min-width: $sidebar-width;
  max-width: 450px;
  background-color: #2F343D;

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a, a:hover, a:focus {
    text-decoration:none;
  }

  ul, li {
    outline:0;
    margin:0;
    padding:0;
    list-style: none;
  }

  // ::-webkit-scrollbar {
  //   width: 0px;
  //   background: transparent; /* make scrollbar transparent */
  // }

  .v-center {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center !important;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .button:hover {
    color: #fff;
    background-color: #b63b4d;
    border-color: #0062cc;
  }
  

  #headbar {
    display: flex;
    justify-content: space-between;
    background-color: #15171B;
    color: white;
    height:75px;
    width: 100%;
    text-align: center;
    z-index: 10;

    #title {
      margin: 0 10px;
    }

    #control {
      display: flex;
      span {
            font-size: 30px;
            line-height: 75px;
            color:white;
            width: 75px;
            height: 75px;
            text-align: center;
            vertical-align: bottom;
      }
    }
  }

  #headbar-hide {
    display: none;
    flex-direction: column;
    font-size: 30px;
    line-height: 75px;
    background-color:black;
    color:white;
    width: 75px;
    height:150px;
    text-align: center;
    vertical-align: bottom;
    z-index: 10;

    #full-hide, #half-hide {
      width: 100%;
      height: 50%;

      i {
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      &.hidden i {

        &.fa-chevron-left {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }

  #menu {
    display: flex;
    align-content: flex-end;
    height: calc(100% - 75px);
  }

  #main-menu-bar {
    width: 25%;
    height: 100%;
    max-width: 75px;
    color: white;
    background-color: #15171B;
    overflow-y: auto;
    z-index: 10;
  
    .main-menu {
      width: 100%;
      height: 75px;
      max-height: 75px;
      border: 1px solid #646464;

      a {
        color: white;

        &.active {
          color: black;
          border-width: 1px 0 1px 1px;

        }
      }
    }

    li:last-child {
      border-bottom-width: 1px;
    }
    
    .active {
      background-color: #15171B;
      border-right-width: 1px;
      border-right-color: black;
      color: black;
    }

  }

  #right-menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    }

  #search {
    position: relative;
    width: 100%;
    height: 5%;
    min-height: 35px;
    font-size: 16px;
    font-weight: 700;
    z-index: 10;
    margin: 10px;




    .searchTerm {
      height: 100%;
      width: 100%;
      padding: 5px;
      background: #fcfcfc;
      border: 1px solid #aaa;
      box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    }

    .searchIcon {
      position: absolute;
      right: 5%;
      top: 8px;
    }
  }

  #sub-menu-container {
    position: absolute;
    top: 150px;
    left: 75px;
    margin-left: 0px;
    width: 70%;
    height: calc(100% - 150px);
    margin: 0 5% 0 0;
    margin-left: 0;
    background-color: #15171B;
    transition: 0.5s;
    z-index: 5;
    
    &.animate {
      transition: 0.5s linear;
      transform: translateY(0px) !important;
    }
  }

  #sub-menu-bar {
    display: block;
    width: 100%;
    background: #FFF;
    
    .default .submenu {
      display: block;
    }

    .link {
      cursor: pointer;
      display: block;
      padding: 15px 15px 15px 42px;
      color: #4D4D4D;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid #CCC;
      position: relative;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    li {

      

      i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
      }

      &.open .link {
        color: #b63b4d;
      }

      &.open i {
        color: #b63b4d;

        &.fa-chevron-down {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      .submenu {
        display: none;
        background: #15171B;
        font-size: 1rem;

        li {
          border-bottom: 1px solid #4b4a5e;
        }

        a {
          display: block;
          text-decoration: none;
          color: #d9d9d9;
          padding: 12px;
          padding-left: 42px;
          -webkit-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }

        a:hover {
          background: #b63b4d;
          color: #FFF;
        }
      }
    }
  }
}